
body {
}
#divGeral {
    height: 500px;
    width: 1000px;
    background-color: #00ffff;
    text-align: center
}
.labeldiv{
    margin-top:10px
}
.buttondiv{
    margin-top:10px;
    width: 250px
}