body {
}
header{
    margin-bottom: 50px
}
*{
}
#ButtonLogin{
    width: 100px;
    height: 50px;
    background-color: #00ffff
}
#ButtonCadastro {
    width: 100px;
    height: 50px;
    background-color: #00ffff
}
.imagemProduto {
    width: 100%;
    height: 100%
}
.divProduto {
    height: 150px;
    width: 500px;
    background-color: #00ffff;
    text-align: left;
    float: left;
    margin-left: 25px;
    margin-bottom: 25px
}
.divImagemProduto {
    height: 100%;
    width: 30%;
    float: left
}
.divTextoProduto {
    height: 80%;
    width: 70%;
    float: left
}
.divButtonProduto {
    height: 20%;
    width: 70%;
    float: left
}
.buttonProduto {
    height:100%;
    width:100%;
}
p {
    font-size: 14px;
    text-align: justify
}